<div class="container">
  
  <div class="alert alert-info alert-dismissible" *ngIf="submitted" role="alert">
    {{user.fname}} {{user.lname}} rated {{user.rating}} star!
    <button type="button" class="close" data-dismiss="alert" (click)="alertClose()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
 
  <div class="first" style="display: inline-block;"><b>Student:</b>&nbsp;
    <span>{{signupForm.value.userData.fname}}</span>&nbsp;
    <span>{{signupForm.value.userData.lname}}</span>
  </div>
  <div class="first" style="float: right;"><b>Rating:</b>&nbsp;
    <span><b>{{showRating}}</b></span><i class="fa fa-star" [ngStyle]="{color:colour}"></i>
  </div>

  <div class="second col-xs-10 col-md-12 col-xs-offset-1 col-md-offset-2">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div formGroupName="userData">
        <div class="row col-md-12">
          <div class="form-group col-md-12">
            <label for="username">Username <span class="help-block">*</span></label>
            <div class="col-xs-12 col-md-7 iblock">
            <input
              type="text"
              id="fname"
              placeholder="John"
              formControlName="fname"
              class="form-control">
            </div>
            
            <div class="col-xs-12 col-md-5 iblock">
              <input
                type="text"
                id="lname"
                placeholder="Wick"
                formControlName="lname"
                class="form-control">
            </div>
              <span *ngIf="(signupForm.get('userData.fname').hasError('nameIsForbidden') && (signupForm.get('userData.fname').touched)) || 
              (signupForm.get('userData.lname').hasError('nameIsForbidden') && signupForm.get('userData.lname').touched)" class="help-block">This name is invalid!</span>
              <span *ngIf="(signupForm.get('userData.fname').hasError('required')||signupForm.get('userData.lname').hasError('required'))
              && (signupForm.get('userData.fname').touched||signupForm.get('userData.lname').touched)" class="help-block">This field is required!</span>
            </div>
        </div>

        <div class="row col-md-12">
          <div class="form-group col-md-12">
            <label for="email">Email  <span class="help-block">*</span></label>
            <div class="col-xs-12 col-md-12">
              <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control"
              placeholder="someone@example.com">
            </div>
            <span
              *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
              class="help-block">Please enter a valid email!</span>
          </div>
        </div>

        <div class="row col-md-12">
          <div class="form-group col-md-12">
            <label for="dob">Date of Birth  <span class="help-block">*</span></label>
            <div class="col-xs-12 col-md-12">
              <input
              type="date"
              id="dob"
              formControlName="dob"
              class="form-control">
            </div>
            <span *ngIf="(signupForm.get('userData.dob').hasError('invalidDate'))" class="help-block">Please enter a valid date</span>
            <span *ngIf="(signupForm.get('userData.dob').hasError('required') && signupForm.get('userData.dob').touched) " class="help-block">Please enter a Date of Birth</span>
          </div>
        </div>

        <div class="row col-md-12">
          <div class="form-group col-md-12">
            <label for="gender">Gender</label>
            <div class="radio col-xs-12 col-md-2 setRadio" *ngFor="let gender of genders">
              <input
                  type="radio"
                  formControlName="gender"
                  [value]="gender">
              <label class="setRadio">
                {{ gender }}
              </label>
            </div>
          </div>
        </div>

        <div class="row col-md-12">
          <div class="form-group col-md-12">
            <label for="phone">Phone Number <span class="help-block">*</span></label>
            <div class="col-xs-12 col-md-12">
              <input
              type="text"
              id="phone"
              formControlName="phone"
              class="form-control">
            </div>
            <div *ngIf="signupForm.get('userData.phone').hasError('required') && signupForm.get('userData.phone').touched" class="help-block">Please enter phone number!</div>
            <div *ngIf="signupForm.get('userData.phone').hasError('invalidPhone') && signupForm.get('userData.phone').touched" class="help-block">Invalid phone number!</div>
          </div>
        </div>

        <div class="row col-md-12">
          <div class="form-group col-md-12">
            <label for="phone2">Alternate Phone Number</label>
            <div class="col-xs-12 col-md-12">
              <input
              type="text"
              id="phone2"
              formControlName="phone2"
              class="form-control">
            </div>
            <div *ngIf="signupForm.get('userData.phone2').hasError('invalidPhone') && signupForm.get('userData.phone2').touched" class="help-block">Invalid phone number!</div>
          </div>
        </div>

        <div class="row col-md-12">
          <div class="form-group col-md-12">
            <label for="city">City</label>
            <div class="col-xs-12 col-md-12">
              <input
              type="text"
              id="city"
              formControlName="city"
              class="form-control">
            </div>
          </div>
        </div>

        <div class="row col-md-12">
          <div class="form-group col-md-12">
            <label for="state">State <span class="help-block">*</span></label>
            <div class="col-xs-12 col-md-12">
            <select
              id="state"
              name="state"
              formControlName="state"
              class="form-control">
              <option value="">--Select one--</option>
              <option *ngFor="let item of states" value={{item}}>
                {{item}}
              </option>
            </select>
            </div>
            <div *ngIf="signupForm.get('userData.state').hasError('required') && signupForm.get('userData.state').touched" class="help-block">Please select a state!</div>
          </div>
        </div>

        <div class="row col-md-12">
          <div class="form-group col-md-12">
            <label for="country">Country <span class="help-block">*</span></label>
            <div class="col-xs-12 col-md-12">
            <select
              id="country"
              name="country"
              formControlName="country"
              (change)="openStates()"
              class="form-control">
              <option value="">--Select one--</option><option value="India">India</option>
                <option value="USA">U.S.A</option><option value="UK">U.K</option>
                <option value="Japan">Japan</option><option value="France">France</option><option value="Russia">Russia</option>
            </select>
            </div>
            <div *ngIf="signupForm.get('userData.country').hasError('required') && signupForm.get('userData.country').touched" class="help-block">Please select a country!</div>
          </div>
        </div>
        
        <div class="row col-xs-12 offset-md-0">
          <app-rating (sentRating)="receivedRating($event)"></app-rating>
        </div>
      
        <div id="clickable">
          <button class="btn btn-primary" type="submit" >Submit</button>
        </div>
    </div>
    </form>
    <span
          *ngIf="signupForm.invalid && signupForm.touched"
          class="help-block">Please enter valid data!</span>
  </div>
</div>