<div class="container" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutGap="10px" fxLayoutAlign="center">
  
    <div class="bg-orange" fxFlex="40" fxFlex.xs="50">
      <div  [style.margin.px]="20">
        <app-profile></app-profile>
      </div>
    </div>   
    <div class="bg-blue scrollit" fxFlex="40" fxFlex.xs="90">
      <u>
        <div class="head " fxLayoutAlign="center">
          Employee Details
        </div> 
      </u>
      <div class="errormsg" *ngIf="msg" fxLayoutAlign="center center" [style.margin.px]="10" >
        <span fxFlexAlign="center" >{{msg}}</span>
      </div>
      <app-display *ngFor="let user of newuser; let i = index" [user]="user"></app-display>
  
  </div>
  <!--<div class="row">
    <div class="col-md-6 bg-orange">
      <app-profile></app-profile>
    </div>   
    <div class="col-md-6 bg-primary scrollit">
      <u>
        <div class="head text-center">
          Employee Details
        </div> 
      </u>
      <div class="errormsg" *ngIf="msg">
        <table style="height: 120px;">
          <tbody>
            <tr>
              <td class="align-middle" style="padding-left:150px ;">{{msg}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-display *ngFor="let user of newuser; let i = index" [user]="user"></app-display>
    </div>
  </div>-->
</div>